name: Build and upload

on:
  pull_request:
  push:
    tags:
      - "*"
    branches:
      - "main"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, windows-latest, macos-latest, macos-15-intel]

    steps:
      - uses: actions/checkout@v6

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.0

      - uses: actions/upload-artifact@v6
        with:
          name: pymeshfix-wheels-${{ matrix.os }}
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.12

      - name: Install pipx
        run: python -m pip install --upgrade pipx pip

      - name: Build sdist
        run: pipx run build --sdist

      - name: Install package from sdist
        run: pip install dist/*.tar.gz

      - name: Install test requirements
        run: pip install -r requirements_test.txt

      - name: Run tests
        run: pytest

      - uses: actions/upload-artifact@v6
        with:
          name: pymeshfix-sdist
          path: dist/*.tar.gz

  release:
    name: Release
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags')
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/pymeshfix
    permissions:
      id-token: write  # this permission is mandatory for trusted publishing
      contents: write  # required to create a release
    steps:
    - uses: actions/download-artifact@v7
      with:
        pattern: pymeshfix-*
        path: dist
        merge-multiple: true
    - run: ls -alR dist/
    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        generate_release_notes: true
        files: |
          ./dist/*.whl
