name: Build and upload

on:
  pull_request:
  push:
    tags:
    - v*
    branches:
    - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, windows-2025, macos-latest, macos-15-intel, ubuntu-24.04-arm]

    steps:
    - uses: actions/checkout@v6

    - name: Build wheels
      uses: pypa/cibuildwheel@v3.3.0

    - uses: actions/upload-artifact@v6
      with:
        name: pymeshfix-wheels-${{ matrix.os }}
        path: ./wheelhouse/*.whl

  test_abi3:
    name: Test ABI3 wheels
    needs: build_wheels
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.13'] # , '3.14']  # skip 3.14 testing until vtk 9.6 is released
        os: [ubuntu-24.04, windows-2025, macos-latest, macos-15-intel, ubuntu-24.04-arm]  # must match build_wheels os
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions/download-artifact@v7
      with:
        pattern: pymeshfix-wheels-${{ matrix.os }}
        path: wheels/
    - name: Find ABI3 wheel
      id: find_wheel
      shell: bash
      run: |
        WHEEL=$(ls wheels/*abi3*.whl | head -n 1)
        echo "wheel=$WHEEL" >> "$GITHUB_OUTPUT"
    - name: Install wheel
      run: pip install "${{ steps.find_wheel.outputs.wheel }}"
    - name: Install test dependencies from source
      run: |
        pip install tomli
        python tools/extract-deps.py
        pip install -r requirements-tests.txt
    - name: Run tests
      run: pytest

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: 3.13

    - name: Install pipx
      run: python -m pip install --upgrade pipx pip

    - name: Build sdist
      run: pipx run build --sdist

    - name: Install package from sdist
      run: pip install dist/*.tar.gz

    - name: Install test dependencies from source
      run: |
        pip install tomli
        python tools/extract-deps.py
        pip install -r requirements-tests.txt

    - name: Run tests
      run: pytest

    - uses: actions/upload-artifact@v6
      with:
        name: pymeshfix-sdist
        path: dist/*.tar.gz

  release:
    name: Release
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags')
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/pymeshfix
    permissions:
      id-token: write  # this permission is mandatory for trusted publishing
      contents: write  # required to create a release
    steps:
    - uses: actions/download-artifact@v7
      with:
        pattern: pymeshfix-*
        path: dist
        merge-multiple: true
    - run: ls -alR dist/
    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        generate_release_notes: true
        files: |
          ./dist/*.whl
