name: Documentation Build

on: [push, pull_request, workflow_dispatch]

jobs:
  docs_build:
    runs-on: ubuntu-20.04

    env:
      PYANSYS_OFF_SCREEN: True

    steps:
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2.2.2
        with:
          python-version: 3.8

      - name: Install and start virtual framebuffer
        run: |
          .ci/setup_headless_display.sh

      - name: Install pymeshfix
        run: |
          pip install .
  
      - name: Build Documentation
        run: |
          pip install -r requirements_docs.txt
          make -C doc html

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.4
        if: startsWith(github.ref, 'refs/tags/')
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: doc/_build/html
          CLEAN: true