name: Documentation Build

on:
  pull_request:
  push:
    tags:
    - v*

jobs:
  docs_build:
    runs-on: ubuntu-24.04

    env:
      PYANSYS_OFF_SCREEN: true

    steps:
    - uses: actions/checkout@v6

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
        cache: pip

    - name: Setup headless display
      uses: pyvista/setup-headless-display-action@v4

    - name: Install pymeshfix
      run: pip install .[docs]

    - name: Build Documentation
      run: make -C doc html

    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@v4.7.6
      if: startsWith(github.ref, 'refs/tags/')
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: doc/_build/html
        CLEAN: true
